[submodule "vendor-pack/cmsis-core"]
	path = vendor-pack/cmsis-core
	url = https://github.com/STMicroelectronics/cmsis-core.git
	branch = cm3
[submodule "vendor-pack/cmsis-device-f1"]
	path = vendor-pack/cmsis-device-f1
	url = https://github.com/STMicroelectronics/cmsis-device-f1.git
[submodule "vendor-pack/stm32f1xx-hal-driver"]
	path = vendor-pack/stm32f1xx-hal-driver
	url = https://github.com/STMicroelectronics/stm32f1xx-hal-driver.git
